<!DOCTYPE html>
<html lang="en">


<!--<head>
    <meta charset="UTF-8">
    <title>Scatterplot With Shapes</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
-->

{% include "includes/head.html" %}
<body>
  {% include "includes/navbar.html" %}


    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <div id="dataView1" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container1"></div>
          <div style="display:inline-block; float:left" id="legend1"></div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          qweqeqw
          <div id="dataView2" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container2"></div>
          <div style="display:inline-block; float:left" id="legend2"></div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          KMeans
          <div id="dataView3" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container3"></div>
          <div style="display:inline-block; float:left" id="legend3"></div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          Birch
          <div id="dataView4" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container4"></div>
          <div style="display:inline-block; float:left" id="legend4"></div>
        </div>

      </div>
      <!-- /.row -->

  </div>


<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://d3js.org/d3-path.v0.1.min.js"></script>
<script src="https://d3js.org/d3-shape.v0.6.min.js"></script>


  <script type="text/javascript">
      var gConfusionMatrix = {{m2}}[0];
  </script>


  <script type="text/javascript">
      var gConfusionMatrix2 = {{m2}}[1];
  </script>

  

  {% load static %}
  <script src="{% static 'js/script.js' %}"></script>

  {% load static %}
  <script src="{% static 'js/script2.js' %}"></script>

  {% load static %}
  <script src="{% static 'js/script3.js' %}"></script>  


  {% load static %}
  <script src="{% static 'js/test2.js' %}"></script>


  



</body>

</html>

