<!DOCTYPE html>
<html lang="en">


<!--<head>
    <meta charset="UTF-8">
    <title>Scatterplot With Shapes</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
-->

{% include "includes/head.html" %}
<body>
  {% include "includes/navbar.html" %}








    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>
      <!-- Portfolio Item Row -->
      <div class="row">
          <div class="col-md-3 col-sm-6 mb-4">
            Voting Ensamble
            <div id="dataView1" class="matrixContainer"></div>
            <div style="display:inline-block; float:left" id="container1"></div>
            <div style="display:inline-block; float:left" id="legend1"></div>
          </div>

          <div class="col-md-3 col-sm-6 mb-4">
          CSPA
          <div id="dataView3" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container8"></div>
          <div style="display:inline-block; float:left" id="legend8"></div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          HGPA
          <div id="dataView3" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container10"></div>
          <div style="display:inline-block; float:left" id="legend10"></div>
        </div>


      </div>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          SOM
          <div id="dataView2" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container2"></div>
          <div style="display:inline-block; float:left" id="legend2"></div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          KMeans
          <div id="dataView3" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container3"></div>
          <div style="display:inline-block; float:left" id="legend3"></div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          Birch
          <div id="dataView4" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container4"></div>
          <div style="display:inline-block; float:left" id="legend4"></div>
        </div>

      </div>
      <!-- /.row -->

      <div class="row">
        

        <div class="col-md-3 col-sm-6 mb-4">
          SOM
          <div id="dataView5" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container5"></div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          KMEAN
          <div id="dataView6" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container6"></div>
        </div>


        <div class="col-md-3 col-sm-6 mb-4">
          BIRCH
          <div id="dataView7" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container7"></div>
        </div>
        <!--
        <div class="col-md-3 col-sm-6 mb-4">
          kmean
          <div id="dataView5" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container5"></div>
        </div>
        -->


      </div>


       <div class="row">
        

        <div class="col-md-3 col-sm-6 mb-4">
          matrix1
          <div id="dataView8" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="containerMatrix1"></div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          matrix2
          <div id="dataView6" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="containerMatrix2"></div>
        </div>


        <div class="col-md-3 col-sm-6 mb-4">
          matrix3
          <div id="dataView7" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="containerMatrix3"></div>
        </div>
        <!--
        <div class="col-md-3 col-sm-6 mb-4">
          kmean
          <div id="dataView5" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="container5"></div>
        </div>
        -->


      </div>




      <div class="row">
        

        <div class="col-md-3 col-sm-6 mb-4">
          matrix4
          <div id="dataView8" class="matrixContainer"></div>
          <div style="display:inline-block; float:left" id="containerMatrix4"></div>
        </div>

      </div>








  </div>






  <script type="text/javascript">
      var model_kmean = {{model_list}}[0];
  </script>


  <script type="text/javascript">
      var model_birch = {{model_list}}[1];
  </script>

  <script type="text/javascript">
      var model_som = {{model_list}}[2];
  </script>

  <script type="text/javascript">
      var model_voting = {{model_list}}[3];
  </script>
  
  <script type="text/javascript">
      var matrix_kmean = {{model_list}}[4];
      document.write(matrix_kmean)
  </script>

  <script type="text/javascript">
      var matrix_birch = {{model_list}}[5];
  </script>

  <script type="text/javascript">
      var matrix_som = {{model_list}}[6];
  </script>

  <script type="text/javascript">
      var matrix_s = {{model_list}}[7];
  </script>

  <script type="text/javascript">
      var model_cspa = {{model_list}}[8];
  </script>

  <script type="text/javascript">
      var model_hgpa = {{model_list}}[9];
  </script>

  {% load static %}
  <script src="{% static 'js/main.js' %}"></script>

  {% load static %}
  <script src="{% static 'js/script.js' %}"></script>

  

  {% load static %}
  <script src="{% static 'js/test2.js' %}"></script>

  {% load static %}
  <script src="{% static 'js/paintMatrix.js' %}"></script>
  
  
  <script type="text/javascript">
    matrix10({
      container : '#containerMatrix1',
      data : {{model_list}}[6]
    });

    matrix10({
      container : '#containerMatrix2',
      data : {{model_list}}[4]
    });

    matrix10({
      container : '#containerMatrix3',
      data : {{model_list}}[5]
    });

    matrix10({
      container : '#containerMatrix4',
      data : {{model_list}}[10]
    });



  </script>
    



</body>

</html>

